{# templates/process_games.html #}
{% if stats and playerinfo %}
{% set current_color = playerinfo.color %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row pb-5" style="max-width: 1500px;">
        <div class="d-flex flex-wrap px-3 pb-3 shadow-lg" style="background-color: #263238;">
            <div class="col-lg-8 d-flex flex-column px-1 pt-1">
                <div class="user-text text-nowrap">{{ playerinfo.display_name }} as <span class="text-capitalize">{{ current_color }} </span>
                    <form action="/swap_colors" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm"
                                style="background-color: {{ playerinfo.not_color }}; color: {{ current_color }}">view
                            {{ playerinfo.not_color }} <i class="fas fa-arrow-right custom-arrow"></i></button>
                        <input type="hidden" name="session_id" id="swap_session_id" value="{{ session_id }}">
                    </form>
                </div>
                <span class="rating-text text-nowrap text-capitalize">
                    {% for key, value in playerinfo.ratings.items() %}
                        {{ key }}:
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="current">{{ value.current }}</span>
                        (<span data-bs-toggle="tooltip" data-bs-placement="bottom" title="peak">{{ value.peak }}</span>)
                        {% if not loop.last %} | {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-lg-column align-items-lg-end justify-content-lg-end">
                <div class="h-100 pt-2 user-subtext text-nowrap">*{{ playerinfo.time_frame }} | {{ playerinfo.total_games[current_color] }} games</div>
                <div class="col-9 d-flex flex-fill justify-content-end">
                    <form action="/sort_openings" method="post">
                        <div class="btn-toolbar d-flex justify-content-end" role="group" aria-label="Group with button elements">
                            <div class="btn-group btn-group-sm ms-2 mt-2" role="group" aria-label="Metric group">
                                <input type="radio" class="btn-check" name="metric" id="metric1" value="num_games"
                                       autocomplete="off" {{ gamesort }}>
                                <label class="btn btn-outline-primary" for="metric1">Games</label>
                                <input type="radio" class="btn-check" name="metric" id="metric2" value="win_rate"
                                       autocomplete="off" {{ winsort }}>
                                <label class="btn btn-outline-primary" for="metric2">Win%</label>
                            </div>
                            <div class="btn-group btn-group-sm ms-2 mt-2" role="group" aria-label="Direction group">
                                <input type="radio" class="btn-check" name="direction" id="direction1" value="False"
                                       autocomplete="off" {{ asc }}>
                                <label class="btn btn-outline-primary" for="direction1">↑</label>
                                <input type="radio" class="btn-check" name="direction" id="direction2" value="True"
                                       autocomplete="off" {{ desc }}>
                                <label class="btn btn-outline-primary" for="direction2">↓</label>
                            </div>
                            <div class="btn-group btn-group-sm ms-2 mt-2" role="group" aria-label="Submission Group">
                                <button type="submit" class="btn btn-primary">Sort</button>
                            </div>
                        </div>
                        <input type="hidden" name="session_id" id="sort_session_id" value="{{ session_id }}">
                    </form>
                </div>
            </div>
        </div>
        {% for opening in stats %}
        <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="custom-card" style="margin-bottom: 0px; padding-bottom: 0px;">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="row">
                        <div class="col-7">
                            <div class="custom-card-title text-nowrap">{{ opening.display_name }}</div>
                        </div>
                        <div class="col-5">
                            <div class="card-subtitle"><span class="card-subsubtitle">games:</span> {{
                                opening.num_games }} <span class="card-subsubtitle"> win%:</span> {{
                                opening.win_rate }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    {% for line in opening.sub_lines %}
                        {% if line.variations %}
                    <a href="{{ url_for('opening_details', current_session_id=session_id, path='.'.join([playerinfo.color, str(opening.id), 'sub_lines', str(line.id)]) , parent=opening.display_name) }}"
                       target="_blank" class="card-link">
                        {% endif %}
                        <div class="row line-row">
                            <div class="col-10 card-line text-nowrap">{{ line.display_name }}
                                {% if line.variations %}
                                <i class="fas fa-arrow-right custom-arrow ml-2"></i>
                                {% endif %}
                            </div>
                            <div class="col-1 card-line">{{ line.num_games }}</div>
                            <div class="col-1 card-line">{{ line.win_rate }}%</div>
                            <hr class="hr-tight">
                        </div>
                        {% if line.variations %}
                    </a>
                        {% endif %}
                    {% if line.sub_lines %}
                    {% for subline in line.sub_lines %}
                        {% if subline.variations %}
                    <a href="{{ url_for('opening_details', current_session_id=session_id, path='.'.join([playerinfo.color, str(opening.id), 'sub_lines', str(line.id), 'sub_lines', str(subline.id)]) , parent=opening.display_name ~ ' / ' ~ line.display_name) }}"
                       target="_blank" class="card-link">
                        {% endif %}
                        <div class="row subline-row">
                            <div class="col-8 card-subline text-nowrap">{{ subline.display_name }}
                                {% if subline.variations %}
                                <i class="fas fa-arrow-right custom-arrow ml-2"></i>
                                {% endif %}
                            </div>
                            <div class="col-1 card-subline">{{ subline.num_games }}</div>
                            <div class="col-1 card-subline">{{ subline.win_rate }}%</div>
                            <div class="col-2"></div>
                            <hr class="hr-tight">
                        </div>
                        {% if subline.variations %}
                    </a>
                        {% endif %}
                    {% if subline.sub_lines %}
                    {% for subsubline in subline.sub_lines %}
                        {% if subsubline.variations %}
                    <a href="{{ url_for('opening_details', current_session_id=session_id, path='.'.join([playerinfo.color, str(opening.id), 'sub_lines', str(line.id), 'sub_lines', str(subline.id), 'sub_lines', str(subsubline.id)]) , parent=opening.display_name ~ ' / ' ~ line.display_name ~ ' / ' ~ subline.display_name) }}"
                       target="_blank" class="card-link">
                        {% endif %}
                        <div class="row subsubline-row">
                            <div class="col-6 card-subsubline text-nowrap">{{ subsubline.display_name }}
                                {% if subsubline.variations %}
                                <i class="fas fa-arrow-right custom-arrow ml-2"></i>
                                {% endif %}
                            </div>
                            <div class="col-1 card-subsubline">{{ subsubline.num_games }}</div>
                            <div class="col-1 card-subsubline">{{ subsubline.win_rate }}%</div>
                            <div class="col-4"></div>
                            <hr class="hr-tight">
                        </div>
                        {% if subsubline.variations %}
                    </a>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        // Handle form submission for sorting openings
        $('form[action="/sort_openings"]').on('submit', function(event) {
            event.preventDefault();  // Prevent default form submission
            const formData = $(this).serializeArray();  // Serialize form data

            // Perform an AJAX POST request to sort openings
            $.post('/sort_openings', $.param(formData), function(response) {
                $('#stats-container').html(response);  // Update stats container with the response
            }).fail(function(response) {
                alert('Error: ' + response.responseText);  // Alert error message on failure
            });
        });

        // Handle form submission for swapping colors
        $('form[action="/swap_colors"]').on('submit', function(event) {
            event.preventDefault();  // Prevent default form submission
            const formData = $(this).serializeArray();  // Serialize form data

            // Perform an AJAX POST request to swap colors
            $.post('/swap_colors', $.param(formData), function(response) {
                $('#stats-container').html(response);  // Update stats container with the response
            }).fail(function(response) {
                alert('Error: ' + response.responseText);  // Alert error message on failure
            });
        });

        // Initialize Bootstrap tooltips
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
